asgiref==3.8.1
    # via
    #   -r requirements.in
    #   django
beautifulsoup4==4.12.3
    # via
    #   -r requirements.in
    #   django-bootstrap-v5
build==1.1.1
    # via
    #   -r requirements.in
    #   pip-tools
certifi==2024.2.2
    # via
    #   -r requirements.in
    #   requests
charset-normalizer==3.3.2
    # via
    #   -r requirements.in
    #   requests
click==8.1.7
    # via
    #   -r requirements.in
    #   pip-tools
crispy-bootstrap5==2024.2
    # via -r requirements.in
django==4.2.11
    # via
    #   -r requirements.in
    #   crispy-bootstrap5
    #   django-bootstrap-v5
    #   django-bootstrap5
    #   django-crispy-forms
    #   django-debug-toolbar
django-bootstrap-v5==1.0.11
    # via -r requirements.in
django-bootstrap5==23.4
    # via -r requirements.in
django-crispy-forms==2.1
    # via
    #   -r requirements.in
    #   crispy-bootstrap5
django-debug-toolbar==4.3.0
    # via -r requirements.in
idna==3.6
    # via
    #   -r requirements.in
    #   requests
packaging==24.0
    # via
    #   -r requirements.in
    #   build
pip-tools==7.4.1
    # via -r requirements.in
pyproject-hooks==1.0.0
    # via
    #   -r requirements.in
    #   build
    #   pip-tools
python-http-client==3.3.7
    # via
    #   -r requirements.in
    #   sendgrid
requests==2.31.0
    # via
    #   -r requirements.in
    #   stripe
secure-smtplib==0.1.1
    # via -r requirements.in
sendgrid==6.11.0
    # via -r requirements.in
six==1.16.0
    # via -r requirements.in
soupsieve==2.5
    # via
    #   -r requirements.in
    #   beautifulsoup4
sqlparse==0.4.4
    # via
    #   -r requirements.in
    #   django
    #   django-debug-toolbar
starkbank-ecdsa==2.2.0
    # via
    #   -r requirements.in
    #   sendgrid
stripe==8.8.0
    # via -r requirements.in
typing-extensions==4.10.0
    # via stripe
urllib3==2.2.1
    # via
    #   -r requirements.in
    #   requests
wheel==0.43.0
    # via pip-tools

# The following packages are considered to be unsafe in a requirements file:
# pip
# setuptools
