{% load static %}
<!DOCTYPE html>
<html lang="en" dir="">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Privacy &amp; Policy | Space - Multipurpose Responsive Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'playground/assets/favicon.ico' %}">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'playground/assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'playground/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css' %}">

    <!-- CSS Space Template -->
    <link rel="stylesheet" href="{% static 'playground/assets/css/theme.min.css' %}">
  </head>

  <body class="bg-light">

    {% include "header.html" %}

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
      <!-- Content -->
      <div class="container content-space-1 content-space-md-2">
        <!-- Card -->
        <div class="card card-lg">
          <!-- Header -->
          <div class="card-header bg-primary-dark position-relative overflow-hidden">
            <h1 class="card-title h2 text-white">Privacy &amp; Policy</h1>
            <p class="card-text text-white">Last modified: Jan 1st, 2024</p>

            <!-- Background Shapes -->
            <div class="position-absolute" style="top: -6rem; left: -6rem;">
              <img src="{% static 'playground/assets/svg/components/shape-1-soft-light.svg' %}" alt="SVG" width="500" style="width: 12rem;">
            </div>
            <div class="position-absolute" style="bottom: -6rem; right: -7rem;">
              <img src="{% static 'playground/assets/svg/components/shape-7-soft-light.svg' %}" alt="SVG" width="250">
            </div>
            <!-- End Background Shapes -->
          </div>
          <!-- End Header -->

          <!-- Card Body -->
          <div class="card-body">
            <div class="mb-7">
              <h4>Introduction</h4>

              <p>
                Welcome to AceDAT.com. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy or our practices regarding your personal information, please <a href="/comtacts">Contact us</a>.

                By visiting AceDAT.com, you agree to the terms outlined in this Privacy Policy. Please take a moment to carefully read through this document.
              </p>

              <h4>Information We Collect</h4>
              <p></p>
              <h6>Personal Information</h6>
              <p>
                We may collect personal information that you voluntarily provide to us when you express an interest in obtaining information about us or our products and services when you participate in activities on AceDAT.com or otherwise when you contact us.

                The personal information that we collect depends on the context of your interactions with us and the choices you make, including your name, email address, phone number, and other similar information.
              </p>

              <h6>Automatically Collected Information</h6>

              <p>When you access AceDAT.com, we may automatically collect certain information about your device, including information about your web browser, IP address, time zone, and some of the cookies that are installed on your device.</p>

              <h6>How We Use Your Information</h6>
              We use the information we collect or receive:

              <p>(a) To send administrative information to you.</p>

              <p>(b) To respond to your inquiries and offer support.</p>

              <p>(c) To market our products and services to you.</p>

              <p>(d) To protect, investigate, and deter against unauthorized or illegal activities.</p>

              <h6>Disclosure of Your Information</h6>

              <p>We may share personal information with third parties when you explicitly authorize us to share your information.</p>

              <h6>Cookies</h6>

              <p>We use cookies to improve your experience on AceDAT.com. By using AceDAT.com, you agree to the use of cookies.</p>

              <h6>Your Choices</h6>

              <p>You can opt-out of receiving marketing emails from us by following the instructions provided in those emails.</p>

              <h6>California Privacy Rights</h6>

              <p>Residents of the State of California have the right to request a disclosure describing what types of personal information we have shared with third parties for their direct marketing purposes and with whom we have shared it, during the preceding calendar year.</p>

              <h6>Changes to Our Privacy Policy</h6>

              <p>We may update our Privacy Policy from time to time. You are advised to review this Privacy Policy periodically for any changes.</p>

              <h6>Contact Us</h6>

              <p>If you have any questions about this Privacy Policy, please <a href="/contacts">Contact us</a>.</p>

            </div>
          </div>
          <!-- End Card Body -->
        </div>
        <!-- End Card -->
      </div>
      <!-- End Content -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    {% include "footer.html" %}

    {% include "secondary.html" %}

    <!-- JS Global Compulsory  -->
    <script src="{% static 'playground/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- JS Implementing Plugins -->
    <script src="{% static 'playground/assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js' %}"></script>
    <script src="{% static 'playground/assets/vendor/hs-show-animation/dist/hs-show-animation.min.js' %}"></script>
    <script src="{% static 'playground/assets/vendor/hs-go-to/dist/hs-go-to.min.js' %}"></script>

    <!-- JS Space -->
    <script src="{% static 'playground/assets/js/theme.min.js' %}"></script>

    <!-- JS Plugins Init. -->
    <script>
      (function() {
        // INITIALIZATION OF MEGA MENU
        // =======================================================
        const megaMenu = new HSMegaMenu('.js-mega-menu', {
          desktop: {
            position: 'left'
          }
        })


        // INITIALIZATION OF SHOW ANIMATIONS
        // =======================================================
        new HSShowAnimation('.js-animation-link')


        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init('.js-validate', {
          onSubmit: data => {
            data.event.preventDefault()
            alert('Submited')
          }
        })


        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo('.js-go-to')
      })()
    </script>
  </body>
</html>
