{% load static %}
<!DOCTYPE html>
<html lang="en" dir="">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Log in | ACE</title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'playground/assets/favicon.svg' %}">
    <link rel="alternate icon" href="{% static 'playground/assets/favicon.ico' %}">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'playground/assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">

    <!-- CSS Template -->
    <link rel="stylesheet" href="{% static 'playground/assets/css/theme.min.css' %}">
  </head>

  <body>
    {% include "header.html" %}

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
      <!-- Content -->
      <div class="bg-soft-primary-light">
        <div class="container content-space-1 content-space-t-md-3">
          <div class="mx-auto" style="max-width: 30rem;">
            <!-- Card -->
            <div class="card card-lg zi-2">
              <!-- Header -->
              <div class="card-header text-center">
                <h4 class="card-title">Log in</h4>
                <p class="card-text">Don't have an account yet? <a class="link" href="/signup">Sign up here</a></p>
              </div>
              <!-- End Header -->

              <!-- Card Body -->
              <div class="card-body">
                <form class="form" action="{% url 'login' %}" method="post">
                  {% csrf_token %}

                  <div class="mb-4">
                    <label class="form-label" for="username">User/Business Name or Email</label>
                    <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="username or email" aria-label="username or email" required>
                  </div>
                  <!-- End Form -->

                  <!-- Form -->
                  <div class="mb-4">
                      <label class="form-label" for="password">Password</label>
                      <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="password" aria-label="password" required>
                      <p></p>
                      <a class="form-label-link" href="{% url 'password_reset_custom' %}">Forgot Password?</a>
                  </div>
                  <!-- End Form -->

                  <!-- Checkbox -->
                  <div class="form-check mb-4">
                    <input type="checkbox" class="form-check-input" id="loginFormRememberMeCheck" name="loginFormRememberMeCheck">
                    <label class="form-check-label" for="loginFormRememberMeCheck"> Remember me</label>
                  </div>
                  <!-- End Checkbox -->

                  <div class="d-grid mb-4">
                    <button type="submit" class="btn btn-primary btn-lg">Log in</button>
                  </div>
                  {% if form.non_field_errors %}
                  <span class="invalid-feedback d-md-flex">{{ form.non_field_errors }}</span>
                  {% endif %}
                </form>
              </div>
              <!-- End Card Body -->
            </div>
            <!-- End Card -->
          </div>
        </div>
      </div>
      <!-- End Content -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    {% include "footer.html" %}

    {% include "secondary.html" %}

    <!-- JS Global Compulsory  -->
    <script src="{% static 'playground/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'playground/assets/vendor/hs-go-to/dist/hs-go-to.min.js' %}"></script>
    <script src="{% static 'playground/assets/js/theme.min.js' %}"></script>
    <script>
      (function() { new HSGoTo('.js-go-to') })()
    </script>
  </body>
</html>
